<div id="id01" class="w3-modal w3-animate-zoom" style=" width:14em">
    <div class="w3-modal-content">
        <form class="w3-container" [formGroup]="premission" (ngSubmit)="addIpPremission()">
            <div class="w3-padding">
                <div class="w3-row" >
                    <label>ip Address</label>
                    <input type="text" formControlName="userIp" class="form-control w3-input"
                        [ngClass]="{ 'is-invalid': f.userIp.errors }" />
                    <div *ngIf="(f.userIp.touched || f.userIp.dirty) && f.userIp.errors" 
                    class="invalid-feedback" style="height: 30px;">
                        <div style="color:red" *ngIf="f.userIp.errors.required">ip is required</div>
                        <div style="color:red" *ngIf="f.userIp.errors.pattern">Invalid ip address </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="w3-padding">
                <div class="w3-row">
                    <label>Description</label>
                    <input type="text" formControlName="userDescription" class="form-control w3-input" />
                </div>
            </div>
            <button type="submit" class="registerbtn" [disabled]="!premission.valid" >Save</button><br>
        </form>
    </div>
</div>