<body>
    <h3>White List</h3>

    <p-table *ngIf="load" [value]="WLService.IpList" dataKey="userIp" editMode="row">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:6em">IpAddress</th>
                <th style="width:6em">Description</th>
                <th style="width:4em">Edit</th>
                <th style="width:4em">Delete</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-editing="editing" let-deleting="deleting" let-ri="rowIndex">
            <!-- <ng-template pTemplate="body" let-rowData let-deleting="deleting" let-ri="rowIndex"> -->
            <tr [pEditableRow]="rowData">
                <td style="text-align:center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.userIp" required>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.userIp}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td style="text-align:center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="rowData.userDescription">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{rowData.userDescription}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align:center">

                    <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                    <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
                </td>
                <td style="text-align:center">
                    <!-- (click)="deleting=!deleting" -->
                    <button *ngIf="!deleting" pButton type="button" pInitDeleteableRow icon="pi pi-trash"
                        class="ui-button-info" (click)="deleting=!deleting"></button>
                    <button *ngIf="deleting" pButton type="button" pSaveDeleteableRow icon="pi pi-check"
                        class="ui-button-success" style="margin-right: .5em" (click)="Delete(rowData)"></button>
                    <button *ngIf="deleting" pButton type="button" pCancelDeleteableRow icon="pi pi-times"
                        class="ui-button-danger" (click)="deleting=!deleting"></button>
                    <!-- <button pButton type="button" icon="pi pi-trash" class="ui-button-danger"
                    (click)="onRowEditCancel(rowData, ri)"></button> -->
                </td>
            </tr>
        </ng-template>
    </p-table>
    <br>
    <button pButton (click)="add()" style="height: 25px;">add new premission</button>
    <br>    <br>
</body>